include layout/header.pug 

.alert.alert-dismissible.fade.show.alert-success
    strong
        span#status 
        span#msg
    button.close(type='button' data-dismiss='alert')
        span(aria-hidden='true') &times;

.container
    .row 
        .col-md-12
            .dashboard.border.p-4.mt-3
                .users
                    if users.length>0
                        each user,sn in users
                            if isAdmin
                                - var disabled = false;
                            else  
                                - var disabled  = true;

                            if id==user._id
                                - disabled = false;     
                            
                            if isAdmin && user.isAdmin
                                - disabled = true;
                            div.d-inline-block.m-3.border.border-primary.rounded.p-3.bg-light
                                div.badge.badge-danger  S.No. : 
                                    span=sn+1
                                div  Name :
                                    span=user.name
                                div Email :   
                                    span=user.email
                                div Password :  
                                    span *****  
                                div Status : 
                                    if user.isActive
                                        span.badge.badge-success Active 
                                    else 
                                        span.badge.badge-danger Deactive   
                                div Admin : 
                                    if user.isAdmin
                                        span.badge.badge-success Yes 
                                    else 
                                        span.badge.badge-danger No    
                                div File : 
                                    a.badge.badge-primary(href="../public/uploads/"+user.file) Download                                        
                                div.mt-1 
                                    button.btn.btn-outline-success(type="button" onclick="edit(this);" id=user._id disabled=disabled) Edit                                              
                                    button.ml-3.btn.btn-outline-danger(type="button" onclick="deleteUser(this);" id=user._id disabled=disabled ) Delete


include layout/footer.pug
script 
    include js/dashboard.js

